/*estilos generales*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 62.5%;
}

.img-fondo {
  background-image: url(https://img.freepik.com/foto-gratis/textura-pared-cemento-viejo_1149-1280.jpg?w=740&t=st=1705245428~exp=1705246028~hmac=dfdbec6161baffbc2de1006016c3882d721bed0d4aa8d26d6c435f432189f463);
}

p {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.banner {
  margin-top: 40px;
  height: 100px;
  background-size: contain;
  background-position: center;
  text-align: center;
  font-size: large;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.28);
}

header {
  background-color: #EE9322;
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: 1000;
  top: 0px;
}
header img {
  width: 90px;
}
header .logo-empresa {
  display: flex;
  justify-content: center;
}
header .nav {
  display: flex;
  justify-content: space-around;
  height: 55px;
  font-size: 1.5rem;
  margin-top: 55px;
}
header .nav ul {
  list-style: none;
}
header .nav li {
  display: inline-block;
}
header .nav a {
  color: #191919;
  text-decoration: none;
}
header .nav a:hover {
  text-decoration: underline;
}

/* footer */
footer {
  background-color: #EE9322;
  margin-top: 30px;
}
footer img {
  width: 50px;
  margin-top: 20px;
}
footer .redes {
  text-align: center;
}
footer .link {
  display: flex;
  justify-content: space-around;
}
footer .whatsapp {
  width: 35px;
}

.presentacion {
  text-align: center;
  margin-top: 10px;
  color: #191919;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.28);
}

.padre-presentacion {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  text-align: center;
}
.padre-presentacion .text {
  color: #191919;
  text-transform: uppercase;
  width: 300px;
}
.padre-presentacion .logo1 {
  width: 300px;
}
.padre-presentacion .logo2 {
  width: 300px;
}
.padre-presentacion .logo3 {
  width: 300px;
}

.desarrollo {
  margin-top: 10px;
  font-size: 1.5rem;
  background-color: #EE9322;
  color: #191919;
  text-align: center;
}

.contenedor-contact {
  max-width: 800px;
  background-color: #EE9322;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
.contenedor-contact .Contacto {
  margin-bottom: 20px;
  width: 100px;
  padding: 15px 10px;
  font-size: 15px;
  outline: 0px;
}
.contenedor-contact .mensaje {
  max-width: 560px;
  min-width: 560px;
  min-height: 140px;
  max-height: 150px;
}
.contenedor-contact .enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background-color: #f5f5f5;
  color: #191919;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.map {
  text-align: end;
  margin-top: 25px;
  margin-bottom: 25px;
}

.carrusel {
  text-align: center;
  margin-top: 60px;
}

.text {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  color: #191919;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.28);
}

.img-cliente {
  display: flex;
  width: 50%;
  margin-left: 25%;
}

.h2 {
  display: flex;
  justify-content: center;
}

.nosotros-empresa-img {
  margin-top: 5px;
  background-size: contain;
  background-position: center;
  text-align: center;
  height: 500px;
}

.nosotros-empresa-img {
  width: 100%;
}

.empresa-familiar {
  text-align: center;
}

.empresa-fundamentos {
  display: flex;
  flex-direction: row;
}

.valor, .objetivos, .vista {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32.5%;
  margin-top: 30px;
  padding: 20px 2px;
}
.valor .futuro, .objetivos .futuro, .vista .futuro {
  width: 50px;
}
.valor .valores, .objetivos .valores, .vista .valores {
  width: 50px;
}
.valor .objetivo, .objetivos .objetivo, .vista .objetivo {
  width: 50px;
}

.cartas {
  display: grid;
  justify-items: center;
  padding-top: 10px;
  grid-template-columns: repeat(2, 50fr);
  grid-template-rows: repeat(3, 50fr);
  grid-gap: 50px;
  margin: 15px;
}
.cartas .mio {
  background-color: #EE9322;
}

@media screen and (max-width: 500px) {
  .padre-presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text {
    width: 100%;
  }
  .contenedor-contact {
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    align-content: center;
    align-items: stretch;
  }
  .contenedor-contact .mensaje {
    max-width: 300px;
    min-width: 300px;
    min-height: 140px;
    max-height: 150px;
  }
  .cartas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 501px) and (max-width: 1200px) {
  .padre-presentacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
  }
}

/*# sourceMappingURL=estilos.css.map */
