.presentacion{
    text-align: center;
    margin-top: 10px;
    color: #191919;
    text-shadow: 8px 8px 4px rgba(0,0,0,0.28)
    

  } 
  .padre-presentacion{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    text-align: center;
    .text{
        color: $negro ;
        text-transform: uppercase;
        width: 300px;
        
      }
      .logo1{
        width: 300px;
      }
      .logo2{
        width: 300px;
      }
      .logo3{
        width: 300px;
      }
      
  }
  .desarrollo{
    margin-top: 10px;
    font-size: 1.5rem;
    background-color: #EE9322;
    color: #191919;
    text-align: center;
  }
